.primary-button {
  padding: 1rem;
  background-color: $orange;
  border-radius: 5px;
  color: $white;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
  
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: $white;
    color: $orange;
    border: 1px solid $orange;
  }
}

.secondary-button {
  padding: 1rem;
  border-radius: 5px;
  color: $orange;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  border: 1px solid $orange;
  &:hover {
    background-color: $orange;
    color: $white;
    border: 1px solid transparent;
  }
}
