@import '../../../assets/styles/commons/_commons-dir';

    //aside
    .sidebar__sidebar {
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:100%;
        padding: 1rem;
        background-color: $white;
        
        &-first-group{
            &-logo{
                margin-bottom: 3.5rem;
                cursor:pointer;
            }
            &-buttons {
                display: flex;
                flex-direction: column;
                width: 85%;
                &-profile{
                    text-decoration: none;
                    background-color: $white;
                    color: $button-grey;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    padding: 0.5rem;
                    
                }

                &-students{
                    color: $button-grey;
                    text-decoration: none;
                    background-color: $white;
                    padding: 0.5rem;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom:1rem;
                    a{
                        .chevron{
                            color: $dark-grey;
                        }
                        
                    }
                }
                
            }

        }

        &-info {
            display: flex;
            flex-direction: column;
            
            &-user {
                display: flex;
                align-items: flex-start;
                padding: 0.5rem;
                gap: 0.5rem;
                &-image{
                    max-width: 100%;
                }
                &-info{
                   .name{
                    font-family: $btn-font;
                    margin-bottom: 0;
                   }
                   .description{
                    color:$description;
                    font-size:0.75rem;
                   }
                }
            }
            &-button{
                border-radius: 14px;
                text-align: center;
                text-decoration: none;
                padding:0.5rem;
                width: 85%;
                margin-bottom: 2rem;
            }

        }
        .nonActive{
            display: none;
        }

        



    }
